body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    color:DarkSlateGray
}
canvas {
	position: relative;
	display: block;
    margin:-5px;
    padding-top: 10px;
    padding-left: 35%;
}
h1{
    padding-left: 50%;
}